/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

/ {

};

&gpioc {
	status = "okay";
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	examplesensor0: examplesensor@0 {
		compatible = "zephyr,examplesensor";
		spi-max-frequency = <2000000>;
        irq-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
		reg = <0>;
	};
};